<%
  def link_to(name, url)
    return "<a href='#{url}'>#{name}</a>"
  end 
%>

<html>
  <body>
    <h1>Header Fixed</h1>
    <p>
      <p>My poor menu</p>
      <%= link_to('Me', 'me.html') %>
      <%= link_to('Jonathan', 'jonathan.html') %>
    </p>
    <hr />

    <div>
      <%= yield %>
    </div>

    <hr />
    <div>
      <h3>Footer Fixed</h3>
      <p>Edited by: 
        <%= link_to('J.M.', 'http://facebook.com/jonhmbc') %>
      </p>
    </div>
  </body>
</html>